<div id = "new_form">
<%=
	form_for :entry, routes.entry_path(entry.id), method: :patch do
    div class: 'input' do
	  label      :title
	  text_field :title
	end
	
	div class: 'input' do
	  label      :description
	  text_field :description
	end
    submit 'Update'
  end
%>
</div>
