<link rel="stylesheet" type="text/css" href="/stylesheets/main.scss" />
<!doctype HTML>
<html>
  <head>
    <title>Diary</title>
  </head>
  <body><br><br><br>
    <h1>My Diary</h1><br><br><br>
    <%= yield %>
  </body>
</html>

